################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/stixAPI/bin/Debug
/stixAPI/obj/Debug
/stix/bin/Debug
/stix/obj/Debug
